<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rubric_aspect.name %>
</p>

<%= link_to 'Edit', edit_rubric_aspect_path(@rubric_aspect) %> |
<%= link_to 'Back', rubric_aspects_path %>
